<div class="chat-header">
  <div class="header-title">
    hogefuga
  </div>
  <div class="header-button">
    <a href="#">チャットを終了する</a>
  </div>
</div>

<div class="messages">
  <div class="message">
    <div class="message-title">
      <div class="message__user">Tom</div>
      <div class="message__date">2024/03/17(SUN)14:22:44</div>
    </div>
      <div class="lower-message">
         <div class="message__content">おはよう</div>
      </div>
   </div>

   <div class="message">
    <div class="message-title">
      <div class="message__user">Sim</div>
      <div class="message__date">2024/03/17(SUN)14:30:44</div>
    </div>
      <div class="lower-message">
        <div class="message__content">こんばんは</div>
      </div>
   </div>

</div>

<div class="form">
  <%= dorm_with model[@room, @message], html: {class: "form"}, local: true do|f|%>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
  </label>
 </div>
   <%=f.submit "送信" class="form-button" %>
  </div>
</div>