<div class="chat-header">
  <div class="header-title">
    hogefuga
  </div>
  <div class="header-button">
    <a href="#">チャットを終了する</a>
  </div>
</div>

<div class="messages">
  <div class="message">
    <div class="message-title">
      <div class="message__user">Tom</div>
      <div class="message__date">2024/03/17(SUN)14:22:44</div>
    </div>
      <div class="lower-message">
         <div class="message__content">おはよう</div>
      </div>
   </div>

   <div class="message">
    <div class="message-title">
      <div class="message__user">Sim</div>
      <div class="message__date">2024/03/17(SUN)14:30:44</div>
    </div>
      <div class="lower-message">
        <div class="message__content">こんばんは</div>
      </div>
   </div>

</div>

<div class="form">
  <div class="form-input">
    <input type="text" placeholder="type a message" class="form-message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
  </label>
 </div>
   <input type="submit" valu="送信" class="form-button">
  </div>
</div>