 <div class="message">
    <div class="message-title">
         <div class="message__user">
           <%= message.user.name%>
         </div>
      </div>
      <div class="message__date">
        <%= message.created_at %>
      </div>
    </div>
      <div class="lower-message">
         <div class="message__content">
           <%= message.content %>
          </div>
      </div>
   </div>
